.focuspoint-field {
	display: block;
	margin: 0;
	overflow: hidden;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
}

.focuspoint-field img {
	display: block;
	margin: 0;
	width: auto;
	height: auto;
}

.focuspoint-field .grid {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3);
	background: transparent url(focus-field.png) no-repeat center center;
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  transition: background 0.1s ease;
}

.focuspoint-fieldgroup .fieldgroup-field  {
	display: none;
}

.focuspoint-fieldgroup .fieldgroup-field:first-child,
.focuspoint-fieldgroup.debug .fieldgroup-field  {
	display: block;
}
