.focuspoint-debug .focuspoint-image {
	display: inline-block;
	position: relative;
}
.focuspoint-debug .focuspoint-image img {
	display: inline-block;
	margin: 0;
	line-height: 1;
	max-width: none;
	max-height: none;
}
.focuspoint-debug .focuspoint-image .crosshair {
	position: absolute;
	width: 19px;
	height: 19px;
	border: 1px solid black;
	margin: -10px 0 0 -10px;
	border-radius: 100px;
}
.focuspoint-debug .focuspoint-image .crosshair:before,
.focuspoint-debug .focuspoint-image .crosshair:after {
	content: "";
	position: absolute;
	top: 9px;
	left: 0;
	height: 1px;
	width: 100%;
	background: white;
}
.focuspoint-debug .focuspoint-image .crosshair:after {
	top: 0;
	left: 9px;
	height: 100%;
	width: 1px;
}
