.focuspoint-field {
  $base: &;
  div.field {
    display: none;
  }
  &--debug {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    #{$base}__image-wrapper {
      flex: 1 1 auto;
      width: 100%;
    }

    div.field.text {
      flex: 1 1 auto;
      display: block;
    }
  }
}

.focuspoint-picker {
  $base: &;
  position: relative;
  margin: 0;
  overflow: hidden;
  border-radius: 3px;
  display: inline-block;

  &__gradient {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    transition-property: top, left;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    background: radial-gradient(circle 80px at center center, rgba(#bfc9d1, 0) 33%, rgba(#bfc9d1, 0.8));
    transform: translate(-50%, -50%);
    pointer-events: none;

    &:after {
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      top: 50%;
      left: 50%;
      transform: translate(-5px, -5px);
      background: transparent url('../assets/crosshair.svg') no-repeat center center;
      background-size: 100% 100%;
      pointer-events: none;
    }
  }

  &__image {
    display: block;
  }

  &__overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.3);
  }
}
